@page "/fetchdata"
@using Mc2.CrudTest.Common.DTOs
@inject HttpClient _http

<h1>Customer List</h1>

<p>List of customers.</p>



@if (_customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cus in _customers)
            {
                <tr>
                    <td>@cus.FirstName</td>
                    <td>@cus.LastName</td>
                    <td>@cus.BirthDate</td>
                    <td>@cus.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CustomerListItemDTO[] _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await _http.GetFromJsonAsync<CustomerListItemDTO[]>("api/Customer");
    }

}
